<ion-content style="background-image: url('assets/img/results/backgrounds/blue.png'); background-size: 400px;">

  <div style="width: 90%; margin: 0px auto;
  margin-top: 20px;">

    <div style="padding: 8px 8px 8px 8px;">
      <h1 style="font-size: 14pt; color: white;">Tu cerebro</h1>
      <br/>
      <h3 style="font-size: 12pt; color: white; margin-top: -20px;">A continuación encontrarás un informe detallado sobre ti, conócete aún mas.</h3>
      <br/>
      <br/>
    </div>

    <div style="background-color: white; border-radius: 5px; padding: 8px 8px 8px 8px; margin-top: -35px;">

      <table style="width: 100%;">
        <tbody>
          <tr>
            <td style="width: 32px;">
              <img style="margin-top: 8px;" src="assets/img/results/icons/cerebro.png"/>
            </td>
            <td style="padding-left: 8px;">
              <span>Dominancia Cerebral</span>
            </td>
            <td style="width: 32px; text-align: right; vertical-align: middle;" *ngIf="false">
              <ion-icon name="add-circle" style="font-size: 24px;" (click)="showHideBloque1Ctrl()" *ngIf="!showBloque1"></ion-icon>
              <ion-icon name="remove-circle" style="font-size: 24px;" (click)="showHideBloque1Ctrl()" *ngIf="showBloque1"></ion-icon>
            </td>
          </tr>
        </tbody>
      </table>

      <div>

        <hr style="border-style: dashed;"/>

        <div style="padding-left: 8px; padding-right: 8px;">
          <table style="width: 100%; border-spacing: 4px; border-collapse: separate; margin-top: -10px;">
            <tbody>
              <tr>
                <td colspan="2" [ngStyle]="{'width': '96px', 'height': '96px', 'text-align': 'center', 'vertical-align': 'middle'}">
                  <div style="position: relative; width: 96px; height: 96px;">
                    <div style="width: 96px; height: 96px; position: absolute; top: 0; left: 0;">
                      <div [innerHTML]="svg1"></div>
                    </div>
                    <div style="width: 96px; height: 96px; position: absolute; top: 0; left: 0; padding-top: 24px;">
                      <span style="font-size: 36pt; color: black;">{{dominante.puntaje}}</span>  
                    </div>
                  </div>
                </td>
                <td style="padding: 4px 8px 4px 8px;">
                  <span style="font-size: 9pt; color: #AAAAAA; margin-top: -10px;">Dominante</span>
                  <br/>
                  <span style="font-size: 12pt; font-weight: bold; color: black;">{{dominante.cerebro.texto}}</span>
                  <br/>
                  <span style="font-size: 9pt; color: #AAAAAA;">Este es tu puntaje más alto en tu cerebro</span>
                </td>
              </tr>
              <tr>
                <td style="width: 48px;">
                  <div [innerHTML]="svg2"></div>
                </td>
                <td style="width: 48px; text-align: center; vertical-align: middle;">
                  <span style="font-size: 24pt; color: #AAAAAA;">{{subdominante.puntaje}}</span>
                </td>
                <td style="padding: 4px 8px 4px 8px;">
                  <span style="font-size: 9pt; color: #AAAAAA;">Sub Dominante</span>
                  <br/>
                  <span style="font-size: 12pt; font-weight: bold; color: black;">{{subdominante.cerebro.texto}}</span>
                </td>
              </tr>
              <tr>
                <td style="width: 48px;">
                  <div [innerHTML]="svg3"></div>
                </td>
                <td style="width: 48px; text-align: center; vertical-align: middle;">
                  <span style="font-size: 24pt; color: #AAAAAA;">{{oscilante.puntaje}}</span>
                </td>
                <td style="padding: 4px 8px 4px 8px;">
                  <span style="font-size: 9pt; color: #AAAAAA;">Oscilante</span>
                  <br/>
                  <span style="font-size: 12pt; font-weight: bold; color: black;">{{oscilante.cerebro.texto}}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

    </div>

    <br/>

    <div style="background-color: white; border-radius: 5px; padding: 8px 8px 8px 8px;">

      <table style="width: 100%;">
        <tbody>
          <tr>
            <td style="width: 32px;">
              <img style="margin-top: 8px;" src="assets/img/results/icons/engranaje.png"/>
            </td>
            <td style="padding-left: 8px;">
              <span>Lógica de Pensamiento</span>
            </td>
            <td style="width: 32px; text-align: right; vertical-align: middle;" *ngIf="false">
              <ion-icon name="add-circle" style="font-size: 24px;" (click)="showHideBloque2Ctrl()" *ngIf="!showBloque2"></ion-icon>
              <ion-icon name="remove-circle" style="font-size: 24px;" (click)="showHideBloque2Ctrl()" *ngIf="showBloque2"></ion-icon>
            </td>
          </tr>
        </tbody>
      </table>

      <div>

        <hr style="border-style: dashed;"/>

        <table style="width: 100%; border-spacing: 4px; border-collapse: separate; margin-top: -10px;">
          <tbody>
            <tr>
              <td>
                <img src="assets/img/results/icons/cabezaengranaje.png" style="width: 280px;"/>
              </td>
              <td style="padding: 4px 8px 4px 8px;">
                <p style="font-size: 9pt; color: #AAAAAA; text-align: justify;">
                  {{logica}}
                </p>
              </td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>    

    <br/>

    <div style="background-color: white; border-radius: 5px; padding: 8px 8px 8px 8px;">

      <table style="width: 100%;">
        <tbody>
          <tr>
            <td style="width: 32px;">
              <img src="assets/img/results/icons/stats.png"/>
            </td>
            <td style="padding-left: 8px;">
              <span>Radiografía Tricerebral</span>
              <br/>
              <span style="font-size: 8pt;">12 neuro-habilidades de complejidad</span>
            </td>
            <td style="width: 32px; text-align: right; vertical-align: middle;" *ngIf="false">
              <ion-icon name="add-circle" style="font-size: 24px;" (click)="showHideBloque3Ctrl()" *ngIf="!showBloque3"></ion-icon>
              <ion-icon name="remove-circle" style="font-size: 24px;" (click)="showHideBloque3Ctrl()" *ngIf="showBloque3"></ion-icon>
            </td>
          </tr>
        </tbody>
      </table>

      <div (onload)="drawGraph1()" style="margin-top: 24px;">

        <canvas #lineCanvas height="360"></canvas>

      </div>

    </div>

    <br/>

    <div style="padding: 8px 8px 8px 8px; width: 90%; margin: 0px auto; text-align: center;">
      <span style="font-size: 14pt; font-weight: bold; color: white;">12 neurohabilidades del cerebro</span>
    </div>

    <br/>

    <div style="background-color: white; border-radius: 5px; padding: 8px 8px 8px 8px;">

      <table style="width: 100%;">
        <tbody>
          <tr>
            <td style="width: 32px;">
              <img style="margin-top: 8px; margin-left: 10px;" src="assets/img/results/icons/izquierdo.png"/>
            </td>
            <td style="padding-left: 18px;">
              <span>Cerebro Izquierdo</span>
            </td>
            <td style="width: 32px; text-align: right; vertical-align: middle;" *ngIf="false">
              <ion-icon name="add-circle" style="font-size: 24px;" (click)="showHideBloque4Ctrl()" *ngIf="!showBloque4"></ion-icon>
              <ion-icon name="remove-circle" style="font-size: 24px;" (click)="showHideBloque4Ctrl()" *ngIf="showBloque4"></ion-icon>
            </td>
          </tr>
        </tbody>
      </table>

      <div>

        <table style="width: 100%;">
          <tbody>
            <tr>
              <td style="width: 84px; height: 84px; padding: 8px 8px 8px 8px; text-align: center; vertical-align: top;" rowspan="2">
                <canvas #donutCanvasIzquierdo1 width="84" height="84"></canvas>
              </td>
              <td style="height: 32px;">
                <table style="width: 100%;">
                  <tbody>
                    <tr>
                      <td [ngStyle]="{'background-color': izquierdo.uno.color}" style="text-align: center; width: 32px; height: 24px; color: white; font-weight: bold;">
                        {{izquierdo.uno.valor | number:'1.1-1' }}
                      </td>
                      <td style="padding-left: 8px; color: black; font-weight: bold;">
                        {{izquierdo.uno.nombre}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="vertical-align: top; color: #999999;">
                {{izquierdo.uno.concepto}}
              </td>
            </tr>
            <tr>
              <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
              <td style="width: 84px; height: 84px; padding: 8px 8px 8px 8px; text-align: center; vertical-align: top;" rowspan="2">
                <canvas #donutCanvasIzquierdo2 width="84" height="84"></canvas>
              </td>
              <td style="height: 32px;">
                <table style="width: 100%;">
                  <tbody>
                    <tr>
                      <td [ngStyle]="{'background-color': izquierdo.dos.color}" style="text-align: center; width: 32px; height: 24px; color: white; font-weight: bold;">
                        {{izquierdo.dos.valor | number:'1.1-1' }}
                      </td>
                      <td style="padding-left: 8px; color: black; font-weight: bold;">
                        {{izquierdo.dos.nombre}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="vertical-align: top; color: #999999;">
                {{izquierdo.dos.concepto}}
              </td>
            </tr>
            <tr>
              <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
              <td style="width: 84px; height: 84px; padding: 8px 8px 8px 8px; text-align: center; vertical-align: top;" rowspan="2">
                <canvas #donutCanvasIzquierdo3 width="84" height="84"></canvas>
              </td>
              <td style="height: 32px;">
                <table style="width: 100%;">
                  <tbody>
                    <tr>
                      <td [ngStyle]="{'background-color': izquierdo.tres.color}" style="text-align: center; width: 32px; height: 24px; color: white; font-weight: bold;">
                        {{izquierdo.tres.valor | number:'1.1-1' }}
                      </td>
                      <td style="padding-left: 8px; color: black; font-weight: bold;">
                        {{izquierdo.tres.nombre}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="vertical-align: top; color: #999999;">
                {{izquierdo.tres.concepto}}
              </td>
            </tr>
            <tr>
              <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
              <td style="width: 84px; height: 84px; padding: 8px 8px 8px 8px; text-align: center; vertical-align: top;" rowspan="2">
                <canvas #donutCanvasIzquierdo4 width="84" height="84"></canvas>
              </td>
              <td style="height: 32px;">
                <table style="width: 100%;">
                  <tbody>
                    <tr>
                      <td [ngStyle]="{'background-color': izquierdo.cuatro.color}" style="text-align: center; width: 32px; height: 24px; color: white; font-weight: bold;">
                        {{izquierdo.cuatro.valor | number:'1.1-1' }}
                      </td>
                      <td style="padding-left: 8px; color: black; font-weight: bold;">
                        {{izquierdo.cuatro.nombre}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="vertical-align: top; color: #999999;">
                {{izquierdo.cuatro.concepto}}
              </td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>

    <br/>

    <div style="background-color: white; border-radius: 5px; padding: 8px 8px 8px 8px;">

      <table style="width: 100%;">
        <tbody>
          <tr>
            <td style="width: 32px;">
              <img style="margin-top: 8px; margin-left: 10px;" src="assets/img/results/icons/central.png"/>
            </td>
            <td style="padding-left: 18px;">
              <span>Cerebro Central</span>
            </td>
            <td style="width: 32px; text-align: right; vertical-align: middle;" *ngIf="false">
              <ion-icon name="add-circle" style="font-size: 24px;" (click)="showHideBloque5Ctrl()" *ngIf="!showBloque5"></ion-icon>
              <ion-icon name="remove-circle" style="font-size: 24px;" (click)="showHideBloque5Ctrl()" *ngIf="showBloque5"></ion-icon>
            </td>
          </tr>
        </tbody>
      </table>

      <div>

        <table style="width: 100%;">
          <tbody>
            <tr>
              <td style="width: 84px; height: 84px; padding: 8px 8px 8px 8px; text-align: center; vertical-align: top;" rowspan="2">
                <canvas #donutCanvasCentral1 width="84" height="84"></canvas>
              </td>
              <td style="height: 32px;">
                <table style="width: 100%;">
                  <tbody>
                    <tr>
                      <td [ngStyle]="{'background-color': central.uno.color}" style="text-align: center; width: 32px; height: 20px; color: white; font-weight: bold;">
                        {{central.uno.valor | number:'1.1-1' }}
                      </td>
                      <td style="padding-left: 8px; color: black; font-weight: bold;">
                        {{central.uno.nombre}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="vertical-align: top; color: #999999;">
                {{central.uno.concepto}}
              </td>
            </tr>
            <tr>
              <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
              <td style="width: 84px; height: 84px; padding: 8px 8px 8px 8px; text-align: center; vertical-align: top;" rowspan="2">
                <canvas #donutCanvasCentral2 width="84" height="84"></canvas>
              </td>
              <td style="height: 32px;">
                <table style="width: 100%;">
                  <tbody>
                    <tr>
                      <td [ngStyle]="{'background-color': central.dos.color}" style="text-align: center; width: 32px; height: 24px; color: white; font-weight: bold;">
                        {{central.dos.valor | number:'1.1-1' }}
                      </td>
                      <td style="padding-left: 8px; color: black; font-weight: bold;">
                        {{central.dos.nombre}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="vertical-align: top; color: #999999;">
                {{central.dos.concepto}}
              </td>
            </tr>
            <tr>
              <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
              <td style="width: 84px; height: 84px; padding: 8px 8px 8px 8px; text-align: center; vertical-align: top;" rowspan="2">
                <canvas #donutCanvasCentral3 width="84" height="84"></canvas>
              </td>
              <td style="height: 32px;">
                <table style="width: 100%;">
                  <tbody>
                    <tr>
                      <td [ngStyle]="{'background-color': central.tres.color}" style="text-align: center; width: 32px; height: 24px; color: white; font-weight: bold;">
                        {{central.tres.valor | number:'1.1-1' }}
                      </td>
                      <td style="padding-left: 8px; color: black; font-weight: bold;">
                        {{central.tres.nombre}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="vertical-align: top; color: #999999;">
                {{central.tres.concepto}}
              </td>
            </tr>
            <tr>
              <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
              <td style="width: 84px; height: 84px; padding: 8px 8px 8px 8px; text-align: center; vertical-align: top;" rowspan="2">
                <canvas #donutCanvasCentral4 width="84" height="84"></canvas>
              </td>
              <td style="height: 32px;">
                <table style="width: 100%;">
                  <tbody>
                    <tr>
                      <td [ngStyle]="{'background-color': central.cuatro.color}" style="text-align: center; width: 32px; height: 24px; color: white; font-weight: bold;">
                        {{central.cuatro.valor | number:'1.1-1' }}
                      </td>
                      <td style="padding-left: 8px; color: black; font-weight: bold;">
                        {{central.cuatro.nombre}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="vertical-align: top; color: #999999;">
                {{central.cuatro.concepto}}
              </td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>

    <br/>

    <div style="background-color: white; border-radius: 5px; padding: 8px 8px 8px 8px;">

      <table style="width: 100%;">
        <tbody>
          <tr>
            <td style="width: 32px;">
              <img style="margin-top: 8px; margin-left: 10px;" src="assets/img/results/icons/derecho.png"/>
            </td>
            <td style="padding-left: 18px;">
              <span>Cerebro Derecho</span>
            </td>
            <td style="width: 32px; text-align: right; vertical-align: middle;" *ngIf="false">
              <ion-icon name="add-circle" style="font-size: 24px;" (click)="showHideBloque6Ctrl()" *ngIf="!showBloque6"></ion-icon>
              <ion-icon name="remove-circle" style="font-size: 24px;" (click)="showHideBloque6Ctrl()" *ngIf="showBloque6"></ion-icon>
            </td>
          </tr>
        </tbody>
      </table>

      <div>

        <table style="width: 100%;">
          <tbody>
            <tr>
              <td style="width: 84px; height: 84px; padding: 8px 8px 8px 8px; text-align: center; vertical-align: top;" rowspan="2">
                <canvas #donutCanvasDerecho1 width="84" height="84"></canvas>
              </td>
              <td style="height: 32px;">
                <table style="width: 100%;">
                  <tbody>
                    <tr>
                      <td [ngStyle]="{'background-color': derecho.uno.color}" style="text-align: center; width: 32px; height: 24px; color: white; font-weight: bold;">
                        {{derecho.uno.valor | number:'1.1-1' }}
                      </td>
                      <td style="padding-left: 8px; color: black; font-weight: bold;">
                        {{derecho.uno.nombre}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="vertical-align: top; color: #999999;">
                {{derecho.uno.concepto}}
              </td>
            </tr>
            <tr>
              <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
              <td style="width: 84px; height: 84px; padding: 8px 8px 8px 8px; text-align: center; vertical-align: top;" rowspan="2">
                <canvas #donutCanvasDerecho2 width="84" height="84"></canvas>
              </td>
              <td style="height: 32px;">
                <table style="width: 100%;">
                  <tbody>
                    <tr>
                      <td [ngStyle]="{'background-color': derecho.dos.color}" style="text-align: center; width: 32px; height: 24px; color: white; font-weight: bold;">
                        {{derecho.dos.valor | number:'1.1-1' }}
                      </td>
                      <td style="padding-left: 8px; color: black; font-weight: bold;">
                        {{derecho.dos.nombre}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="vertical-align: top; color: #999999;">
                {{derecho.dos.concepto}}
              </td>
            </tr>
            <tr>
              <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
              <td style="width: 84px; height: 84px; padding: 8px 8px 8px 8px; text-align: center; vertical-align: top;" rowspan="2">
                <canvas #donutCanvasDerecho3 width="84" height="84"></canvas>
              </td>
              <td style="height: 32px;">
                <table style="width: 100%;">
                  <tbody>
                    <tr>
                      <td [ngStyle]="{'background-color': derecho.tres.color}" style="text-align: center; width: 32px; height: 24px; color: white; font-weight: bold;">
                        {{derecho.tres.valor | number:'1.1-1' }}
                      </td>
                      <td style="padding-left: 8px; color: black; font-weight: bold;">
                        {{derecho.tres.nombre}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="vertical-align: top; color: #999999;">
                {{derecho.tres.concepto}}
              </td>
            </tr>
            <tr>
              <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
              <td style="width: 84px; height: 84px; padding: 8px 8px 8px 8px; text-align: center; vertical-align: top;" rowspan="2">
                <canvas #donutCanvasDerecho4 width="84" height="84"></canvas>
              </td>
              <td style="height: 32px;">
                <table style="width: 100%;">
                  <tbody>
                    <tr>
                      <td [ngStyle]="{'background-color': derecho.cuatro.color}" style="text-align: center; width: 32px; height: 24px; color: white; font-weight: bold;">
                        {{derecho.cuatro.valor | number:'1.1-1' }}
                      </td>
                      <td style="padding-left: 8px; color: black; font-weight: bold;">
                        {{derecho.cuatro.nombre}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="vertical-align: top; color: #999999;">
                {{derecho.cuatro.concepto}}
              </td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>

    <br/>

    <div style="background-color: white; border-radius: 5px; padding: 8px 8px 8px 8px;">

      <table style="width: 100%;">
        <tbody>
          <tr>
            <td style="width: 32px;">
              <img src="assets/img/results/icons/meta.png"/>
            </td>
            <td style="padding-left: 8px;">
              <span>Habilidades</span>
            </td>
            <td style="width: 32px; text-align: right; vertical-align: middle;" *ngIf="false">
              <ion-icon name="add-circle" style="font-size: 24px;" (click)="showHideBloque7Ctrl()" *ngIf="!showBloque7"></ion-icon>
              <ion-icon name="remove-circle" style="font-size: 24px;" (click)="showHideBloque7Ctrl()" *ngIf="showBloque7"></ion-icon>
            </td>
          </tr>
        </tbody>
      </table>

      <div>

        <h1 style="font-size: 12pt;">Nivel Alto</h1>

        <table style="width: 100%;">
          <tbody>
            <tr>
              <td style="width: 120px;">
                <span style="color: #AAAAAA; font-size: 8pt;">{{habilidadNivelAlto1.porcentaje}}%</span>
                <div style="background-color: #AAAAAA; width: 100px; border-radius: 5px;">
                  <div style="border-radius: 5px; font-size: 4pt;" [ngStyle]="{'background-color': habilidadNivelAlto1.color}" [style.width]="habilidadNivelAlto1.porcentaje + '%'">&nbsp;</div>
                </div>
              </td>
              <td style="vertical-align: bottom;">
                {{habilidadNivelAlto1.area}}
              </td>
            </tr>
            <tr> 
              <td style="font-size: 4pt;" colspan="2">&nbsp;</td>
            </tr>
            <tr>
              <td style="width: 120px;">
                <span style="color: #AAAAAA; font-size: 8pt;">{{habilidadNivelAlto2.porcentaje}}%</span>
                <div style="background-color: #AAAAAA; width: 100px; border-radius: 5px;">
                  <div style="border-radius: 5px; font-size: 4pt;" [ngStyle]="{'background-color': habilidadNivelAlto2.color}" [style.width]="habilidadNivelAlto2.porcentaje + '%'">&nbsp;</div>
                </div>
              </td>
              <td style="vertical-align: bottom;">
                {{habilidadNivelAlto2.area}}
              </td>
            </tr>
            <tr> 
              <td style="font-size: 4pt;" colspan="2">&nbsp;</td>
            </tr>
            <tr>
              <td style="width: 120px;">
                <span style="color: #AAAAAA; font-size: 8pt;">{{habilidadNivelAlto3.porcentaje}}%</span>
                <div style="background-color: #AAAAAA; width: 100px; border-radius: 5px;">
                  <div style="border-radius: 5px; font-size: 4pt;" [ngStyle]="{'background-color': habilidadNivelAlto3.color}" [style.width]="habilidadNivelAlto3.porcentaje + '%'">&nbsp;</div>
                </div>
              </td>
              <td style="vertical-align: bottom;">
                {{habilidadNivelAlto3.area}}
              </td>
            </tr>
          </tbody>
        </table>        

        <h1 style="font-size: 12pt;">Por Mejorar</h1>

        <table style="width: 100%;">
          <tbody>
            <tr>
              <td style="width: 120px;">
                <span style="color: #AAAAAA; font-size: 8pt;">{{habilidadPorMejorar1.porcentaje}}%</span>
                <div style="background-color: #AAAAAA; width: 100px; border-radius: 5px;">
                  <div style="border-radius: 5px; font-size: 4pt;" [ngStyle]="{'background-color': habilidadPorMejorar1.color}" [style.width]="habilidadPorMejorar1.porcentaje + '%'">&nbsp;</div>
                </div>
              </td>
              <td style="vertical-align: bottom;">
                {{habilidadPorMejorar1.area}}
              </td>
            </tr>
            <tr> 
              <td style="font-size: 4pt;" colspan="2">&nbsp;</td>
            </tr>
            <tr>
              <td style="width: 120px;">
                <span style="color: #AAAAAA; font-size: 8pt;">{{habilidadPorMejorar2.porcentaje}}%</span>
                <div style="background-color: #AAAAAA; width: 100px; border-radius: 5px;">
                  <div style="border-radius: 5px; font-size: 4pt;" [ngStyle]="{'background-color': habilidadPorMejorar2.color}" [style.width]="habilidadPorMejorar2.porcentaje + '%'">&nbsp;</div>
                </div>
              </td>
              <td style="vertical-align: bottom;">
                {{habilidadPorMejorar2.area}}
              </td>
            </tr>
            <tr> 
              <td style="font-size: 4pt;" colspan="2">&nbsp;</td>
            </tr>
            <tr>
              <td style="width: 120px;">
                <span style="color: #AAAAAA; font-size: 8pt;">{{habilidadPorMejorar3.porcentaje}}%</span>
                <div style="background-color: #AAAAAA; width: 100px; border-radius: 5px;">
                  <div style="border-radius: 5px; font-size: 4pt;" [ngStyle]="{'background-color': habilidadPorMejorar3.color}" [style.width]="habilidadPorMejorar3.porcentaje + '%'">&nbsp;</div>
                </div>
              </td>
              <td style="vertical-align: bottom;">
                {{habilidadPorMejorar3.area}}
              </td>
            </tr>
          </tbody>
        </table>

        <h1 style="font-size: 12pt;">Nivel Medio</h1>

        <table style="width: 100%;">
          <tbody>
            <tr>
              <td style="width: 120px;">
                <span style="color: #AAAAAA; font-size: 8pt;">{{habilidadNivelMedio1.porcentaje}}%</span>
                <div style="background-color: #AAAAAA; width: 100px; border-radius: 5px;">
                  <div style="border-radius: 5px; font-size: 4pt;" [ngStyle]="{'background-color': habilidadNivelMedio1.color}" [style.width]="habilidadNivelMedio1.porcentaje + '%'">&nbsp;</div>
                </div>
              </td>
              <td style="vertical-align: bottom;">
                {{habilidadNivelMedio1.area}}
              </td>
            </tr>
            <tr> 
              <td style="font-size: 4pt;" colspan="2">&nbsp;</td>
            </tr>
            <tr>
              <td style="width: 120px;">
                <span style="color: #AAAAAA; font-size: 8pt;">{{habilidadNivelMedio2.porcentaje}}%</span>
                <div style="background-color: #AAAAAA; width: 100px; border-radius: 5px;">
                  <div style="border-radius: 5px; font-size: 4pt;" [ngStyle]="{'background-color': habilidadNivelMedio2.color}" [style.width]="habilidadNivelMedio2.porcentaje + '%'">&nbsp;</div>
                </div>
              </td>
              <td style="vertical-align: bottom;">
                {{habilidadNivelMedio2.area}}
              </td>
            </tr>
            <tr> 
              <td style="font-size: 4pt;" colspan="2">&nbsp;</td>
            </tr>
            <tr>
              <td style="width: 120px;">
                <span style="color: #AAAAAA; font-size: 8pt;">{{habilidadNivelMedio3.porcentaje}}%</span>
                <div style="background-color: #AAAAAA; width: 100px; border-radius: 5px;">
                  <div style="border-radius: 5px; font-size: 4pt;" [ngStyle]="{'background-color': habilidadNivelMedio3.color}" [style.width]="habilidadNivelMedio3.porcentaje + '%'">&nbsp;</div>
                </div>
              </td>
              <td style="vertical-align: bottom;">
                {{habilidadNivelMedio3.area}}
              </td>
            </tr>
            <tr> 
              <td style="font-size: 4pt;" colspan="2">&nbsp;</td>
            </tr>
            <tr>
              <td style="width: 120px;">
                <span style="color: #AAAAAA; font-size: 8pt;">{{habilidadNivelMedio4.porcentaje}}%</span>
                <div style="background-color: #AAAAAA; width: 100px; border-radius: 5px;">
                  <div style="border-radius: 5px; font-size: 4pt;" [ngStyle]="{'background-color': habilidadNivelMedio4.color}" [style.width]="habilidadNivelMedio4.porcentaje + '%'">&nbsp;</div>
                </div>
              </td>
              <td style="vertical-align: bottom;">
                {{habilidadNivelMedio4.area}}
              </td>
            </tr>
            <tr> 
              <td style="font-size: 4pt;" colspan="2">&nbsp;</td>
            </tr>
            <tr>
              <td style="width: 120px;">
                <span style="color: #AAAAAA; font-size: 8pt;">{{habilidadNivelMedio5.porcentaje}}%</span>
                <div style="background-color: #AAAAAA; width: 100px; border-radius: 5px;">
                  <div style="border-radius: 5px; font-size: 4pt;" [ngStyle]="{'background-color': habilidadNivelMedio5.color}" [style.width]="habilidadNivelMedio5.porcentaje + '%'">&nbsp;</div>
                </div>
              </td>
              <td style="vertical-align: bottom;">
                {{habilidadNivelMedio5.area}}
              </td>
            </tr>
            <tr> 
              <td style="font-size: 4pt;" colspan="2">&nbsp;</td>
            </tr>
            <tr>
              <td style="width: 120px;">
                <span style="color: #AAAAAA; font-size: 8pt;">{{habilidadNivelMedio6.porcentaje}}%</span>
                <div style="background-color: #AAAAAA; width: 100px; border-radius: 5px;">
                  <div style="border-radius: 5px; font-size: 4pt;" [ngStyle]="{'background-color': habilidadNivelMedio6.color}" [style.width]="habilidadNivelMedio6.porcentaje + '%'">&nbsp;</div>
                </div>
              </td>
              <td style="vertical-align: bottom;">
                {{habilidadNivelMedio6.area}}
              </td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>

    <br/>

    <div style="margin-bottom: 24px;">
      <button ion-button fill round block (click)="back()" style="background-color: #041728; text-transform: none;">volver</button>
    </div>


  </div>

</ion-content>
